<h1>Flights:</h1>

<% @flights.each do |flight| %>
  <section id="flight-numbers-<%= flight.id %>">
    <%= flight.number %> <%= flight.airline.name %>
      <h3>Passengers:</h3>
        <% flight.passengers.each do |passenger| %>
          <%= passenger.name %>
          <%= link_to "Remove #{passenger.name}", flight_excursion_path(flight, passenger), method: :delete, local: true %>
    <% end %>
  </section>
<% end %>
